{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

<!DOCTYPE html>

{% block meta %}
  {% load static from staticfiles %}
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
{% endblock %}

{% block content %}
{% load staticfiles %}
                <div class="control-group"> <!-- 輸入訊息-->            
                <div class="row-fluid">
                    <div class="span4">
                        <br/>
                        <div class="panel panel-default">
                            <div class="panel-heading">電子零錢捐</div>
                            <div class="panel-body">
                                <h4 class="control-label" style="color:#009FCC" for="textarea">STEP1. 選擇捐款對象:</h4>
                                <div class="span4">
                                    <label  class="control-label" for="tag">請選擇分類：</label>
                                    <select required class="btn" id="id_tag1" name="tag1">
                                        <option value></option>
                                        <option id="id_tag4" name="tag4" value="">全部分類</option> 
                                        <option id="id_tag4" name="tag4" value="">婦女福利</option>
                                        <option id="id_tag1" name="tag1" value="">兒童及青少年福利</option>
                                        <option id="id_tag1" name="tag1" value="">身心障礙福利</option>
                                        <option id="id_tag1" name="tag1" value="">原住民族福利</option>
                                        <option id="id_tag1" name="tag1" value="">更生保護</option>
                                        <option id="id_tag4" name="tag4" value="">職場保護</option> 
                                        <option id="id_tag4" name="tag4" value="">社會救助與保險</option>
                                        <option id="id_tag1" name="tag1" value="">健康照護</option>
                                        <option id="id_tag1" name="tag1" value="">自殺防治</option>
                                        <option id="id_tag1" name="tag1" value="">詐騙防治</option>
                                        <option id="id_tag1" name="tag1" value="">犯罪被害保護服務</option> 
                                        <option id="id_tag4" name="tag4" value="">其他</option> 
                                    </select>
                                    <a href="coin2.html" class="btn btn-default">查詢</a>
                                </div>
                                <br/>
                                <h4 class="control-label" style="color:#009FCC" for="textarea">STEP2. 設定每月捐款上限:</h4>
                                <p>您每月捐款的上限不會超過所設定的金額</p>
                                  <select required class="btn" id="id_tag1" name="tag1">
                                        <option value></option>
                                        <option id="id_tag4" name="tag4" value="">NT.10</option> 
                                        <option id="id_tag4" name="tag4" value="">NT.50</option>
                                        <option id="id_tag1" name="tag1" value="">NT.100</option>
                                        <option id="id_tag1" name="tag1" value="">NT.200</option>
                                        <option id="id_tag1" name="tag1" value="">NT.300</option>
                                        <option id="id_tag1" name="tag1" value="">NT.400</option>
                                        <option id="id_tag4" name="tag4" value="">NT.500</option> 
                                        <option id="id_tag4" name="tag4" value="">NT.600</option>
                                        <option id="id_tag1" name="tag1" value="">NT.700</option>
                                        <option id="id_tag1" name="tag1" value="">NT.800</option>
                                        <option id="id_tag1" name="tag1" value="">NT.900</option>
                                        <option id="id_tag1" name="tag1" value="">NT.1000</option> 
                                        <option id="id_tag4" name="tag4" value="">NT.2000</option>
                                        <option id="id_tag4" name="tag4" value="">無上限</option>  
                                  </select>
                                  <br/><br/>
                                <h4 class="control-label" style="color:#009FCC" for="textarea">STEP3. 設定悠遊卡結賬單位:</h4>
                                <p>如:假設您設定結賬單位為5元，單筆消費92元，則此次消費您捐款95-92=3元</p>
                                  <select required class="btn" id="id_tag1" name="tag1">
                                        <option value></option>
                                        <option id="id_tag4" name="tag4" value="">NT.5</option> 
                                        <option id="id_tag4" name="tag4" value="">NT.10</option>
                                        <option id="id_tag1" name="tag1" value="">NT.50</option>
                                  </select>
                                  <br/><br/>
                                <h4 class="control-label" style="color:#009FCC">STEP4. 設定捐款門檻:</h4>
                                <p>單筆消費需超過所設定的「捐款門檻」，才捐款</p>
                                  <select required class="btn" id="id_tag1" name="tag1">
                                        <option value></option>
                                        <option id="id_tag4" name="tag4" value="">NT.10</option> 
                                        <option id="id_tag4" name="tag4" value="">NT.20</option>
                                        <option id="id_tag1" name="tag1" value="">NT.50</option>
                                        <option id="id_tag1" name="tag1" value="">NT.100</option>
                                        <option id="id_tag1" name="tag1" value="">NT.500</option>
                                  </select>
                                  <br/><br/>
                                <label class="control-label" style="color:#009FCC" for="textarea"><h4>STEP5. 請輸入卡號:</h4></label> 
                                <textarea style="width:600px;"class="form-control input-xlarge" id="textarea" rows="1" placeholder="卡號"></textarea><br/>
                                <label>卡號位置說明:</label><br/>
                                <img align="center" src="{% static "img/cardnumber.jpg" %}"></img>
                                <div class="span4" align="right">
                                <input type="submit" class="btn btn-primary" href="#myModal" data-toggle="modal" value="送出"></input>
                                </br></br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  

<!-- ModalFoldr-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModaLabel">捐零錢</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <p>您所持有的悠遊卡 (卡號:1234567890) <br/>將在單筆消費滿「100元」 時，以「5元」為結賬單位，</br>將零錢捐給「財團法人惠光導盲犬教育基金會」，但每月捐款不超過「500元」。</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">關閉</button>
  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" >同意並儲存</button>
</div>
</div>
</div><!--endModalFoldr-->


{% endblock %}