{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

<!DOCTYPE html>

{% block meta %}
  {% load static from staticfiles %}
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
{% endblock %}

{% block content %}
{% load staticfiles %}
                <div class="control-group"> <!-- 輸入訊息-->            
                <div class="row-fluid">
                    <div class="span4">
                        <br/>
                        <div class="panel panel-default">
                            <div class="panel-heading">{{user.username}} 的捐款習慣設定</div>
                            <div class="panel-body">
                            </br>
                                <ul class="nav nav-tabs">
                                  <li class="active"><a href="#A" data-toggle="tab">電子發票</a></li>
                                  <li class=""><a href="#B" data-toggle="tab">小額捐款</a></li>
                                </ul>
                                <div class="tabbable">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="A">
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">悠遊卡卡號:</h4>
                                            <p>{{profile.card}}</p>
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">捐款對象:</h4>
                                            <p>{{profile.favored_charity}}</p>
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">上次設定日期:</h4>
                                            <p>103年10月14日(假的)</p>
                                        </div>
                                        <div class="tab-pane" id="B">
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">悠遊卡卡號:</h4>
                                            <p>{{profile.card}}</p>
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">捐款對象:</h4>
                                            <p>{{profile.favored_charity}}</p>
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">每月捐款上限:</h4>
                                            <p>{{ profile.upper_limit}}</p>
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">悠遊卡結賬單位:</h4>
                                            <p>{{ profile.roundup }}</p>
                                            <h4 class="control-label" style="color:#009FCC">捐款門檻:</h4>
                                            <p>{{ profile.threshold}}</p>
                                            <h4 class="control-label" style="color:#009FCC" for="textarea">上次設定日期:</h4>
                                            <p>103年10月14日(假的)</p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="panel-footer" align="right" style="background-color:#FFFFFF;border-top:#FFFFFF">
                              <button class="btn btn-default">更改設定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!-- ModalFoldr-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModaLabel">電子零錢捐</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <p>您所持有的悠遊卡 (卡號:{{profile.card}}) <br/>將在單筆消費滿「{{ profile.threshold}}元」 時，以「{{ profile.roundup }}元」為結賬單位，</br>將零錢捐給「{{profile.favored_charity}}」，但每月捐款不超過「{{ profile.upper_limit}}元」。</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">關閉</button>
  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">同意並儲存</button>
</div>
</div>
</div><!--endModalFoldr-->


{% endblock %}