{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

<!DOCTYPE html>

{% block meta %}
  {% load static from staticfiles %}
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
{% endblock %}

{% block content %}
{% load staticfiles %}
                <div class="control-group"> <!-- 輸入訊息-->            
                <div class="row-fluid">
                    <div class="span4">
                        <br/>
                        <div class="panel panel-default">
                            <div class="panel-heading">捐電子發票</div>
                            <div class="panel-body">
                                <label class="control-label" style="color:#009FCC" for="textarea"><h4>STEP1. 選擇捐發票對象:</h4></label>
                                <div class="span4">
                                    <label  class="control-label" for="tag">請選擇分類：</label>
                                    <form method = 'post' name = 'search_charity'>
                                    {% csrf_token %}
                                    <select required class="btn" id="id_tag1" name="chosen_category">
                                        <option value></option>
                                        {% for category in categories %}
                                        <option id="" name="category" value="{{category}}">{{category}}</option> 
                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn btn-primary" href="#" data-toggle="modal" value="查詢"></input>
                                    </form>
                                    
                                </div>
                                <form method = 'post' name = 'choose_charity'>
                                {% csrf_token %}
                                {% for charity in search_charities %}
                                <input  type="radio" name="chosen_charity" value="{{charity.id}}">&nbsp;{{charity.name}}<br/>
                                {% endfor %}
                                <label class="control-label" style="color:#009FCC" for="textarea"><h4>STEP2. 請輸入卡號:</h4></label> 
                                <textarea style="width:600px;"class="form-control input-xlarge" name="card_number" rows="1" placeholder="卡號"></textarea><br/>
                                <label>卡號位置說明:</label><br/>
                                <img align="center" src=" {% static "img/cardnumber.jpg" %}"></img>
                                <div class="span4" align="right">
                                <input type="submit" class="btn btn-primary" value="送出"></input>
                                </form>
                                </br></br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
 

<!-- ModalFoldr-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModaLabel">捐電子發票</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="info">您所持有的悠遊卡(卡號:1234567890)將在消費時，將電子發票所有權直接轉讓給「財團法人惠光導盲犬教育基金會」。</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">關閉</button>
  <button class="btn btn-primary">同意並儲存</button>
</div>
</div>
</div><!--endModalFoldr-->



{% endblock %}