{% extends 'main_base.html' %}
{% load i18n %}
{% load url from future %}

<!DOCTYPE html>

{% block meta %}
  {% load static from staticfiles %}
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
{% endblock %}

{% block content %}
{% load staticfiles %}
                <div class="row-fluid">
                    <div class="span4">
                        <div class="panel panel-default">
                            <div class="panel-heading">查詢捐款明細</div>
                            <div class="panel-body">
                            </br>
                              <ul class="nav nav-tabs">
                                  <li class="active"><a href="#A" data-toggle="tab">電子發票</a></li>
                                  <li class=""><a href="#B" data-toggle="tab">小額捐款</a></li>
                              </ul>
                              <div class="tabbable">
                                <div class="tab-content">
                                  <div class="tab-pane active" id="A">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>時間</th>
                                                <th>電子發票號碼</th>
                                                <th>消費金額</th>
                                                <th>是否中獎</th>
                                                <th>捐獻對象</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for invoice in invoices%}
                                            <tr>
                                                <td>{{invoice.time}}</td>
                                                <td>{{invoice.number}}</td>
                                                <td>{{invoice.total_price}}</td>
                                                <td>尚未公佈</td>
                                                <td>{{invoice.to_whom}}</td>
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>

                                  </div>
                                  <div class="tab-pane" id="B">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>時間</th>
                                                <th>捐款門檻</th>
                                                <th>悠遊卡<br/>結賬單位</th>
                                                <th>單筆<br/>消費金額</th>
                                                <th>單筆<br/>捐款金額</th>
                                                <th>捐獻對象</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for detail in details%}
                                            <tr>
                                                <td>{{detail.time}}</td>
                                                <td>{{detail.threshold}}</td>
                                                <td>{{detail.roundup}}</td>
                                                <td>{{detail.invoice.get_price}}</td>
                                                <td>{{detail.to_whom}}</td>
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </div>
                              <div class="panel-footer" align="right" style="background-color:white">
                              <button class="btn btn-primary">列印明細</button>
                              </div>
                            </div>
                        </div>
                    </div> 
                </div>
        <!--/row-->
        
{% endblock %}